<h2>My Villains</h2>
<div>
  <label>Hero name:</label> <input #heroName />
  <button (click)="add(heroName.value); heroName.value=''">
    Add
  </button>
</div>
<ul class="villain">
  <li *ngFor="let villain of villains"
      (click)="onSelect(villain)"
      [class.selected]="villain === selectedVillain"
  >
    <span class="badge">{{villain.id}}</span>
    <span>{{villain.name}}</span>
    <button class="delete"
            (click)="delete(villain); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedVillain">
  <h2>
    {{selectedVillain.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
